/* Глобальные стили */
body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    width: 125px;
    margin-right: 50px;
}

.make-container {
    width: 90%;
    padding-right: 300px;
    margin-right: auto;
    margin-left: 100px;
}

.btn-primary { 
    display: inline-block;
    padding: 10px 20px;
    margin-right: 15px;
    background-color: #480d83;
    color: #F5F5F5;
    font-size: 16px;
    font-family: Inter, sans-serif;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

header{
    height: 900px;
    background-image: url('/img/header.png');
    background-size: cover;
    background-position: center;
}


/* Стили заголовка */
.header {
    background-color: transparent;
    color: #000000;
    padding: 20px 0;
    transition: background-color 0.3s;
}

.header .nav-link {
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    transition: color 0.3s;
    
}

.header .nav-link:hover {
    color: #ff69b4;
}

.header-scrolled {
    background-color: #121212;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-scrolled .nav-link {
    color: #ffffff;
}

/* Стили кнопок */
.button-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.button-header a {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 15px;
  background-color: #ffffff;
  color: #480d83;
  font-size: 16px;
  font-family: Inter, sans-serif;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.button-header a:last-child {
  margin-right: 0;
}

.button-header a:hover {
  background-color: #480d83;
  color: #ffffff;
  transform: scale(1.05);
}

/* Стили разделов */
.section {
    padding: 100px 0;
    min-height: 100vh;
}



.home-section {
    padding-top: 200px;
    

}
.home-section h1{

  color: #f5f5f5;
}

.home-section h2 {
  color: #ffff00cc;
  font-size: 32px;
}

.home-section p {
  color: #ffff00cc;
  font-size: 24px;
}





/* Стили раздела "Про нас" */
.pronas {
    background-color: #ffffff;
}

.div-pronas {
    font-weight: 600;
    font-size: 2.5rem;
    color: #121212;
    text-align: left;
}

.text-pronas {
    font-family: "Inter-Regular", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2;
    color: #121212;
}

.makeup-artist img {
    width: 100%;
    height: auto;
}




/* Стили раздела "Послуги" */
.terms-section {
    background-image: url('/img/natural-cosmetics-and-cleansing-disks-with-copy-space-1.png');
    background-size: cover;
    background-position: center;
    padding: 50px; /* Добавьте отступы, чтобы контент не сливался с фоном */
    min-height: 500px; /* Установите минимальную высоту контейнера, чтобы фон был виден */

}

.terms-section h1, .terms-section h2, .prices h1, .tprices h2 {
    color: #f5f5f5;
}

.terms-section p, .prices p {
    line-height: 35px;
    color: #121212;
}


.service-item {
    position: relative; /* Относительное позиционирование для блоков .service-item */
    margin: 40px 0; /* Внешние отступы */
    padding: 2px 0; /* Внутренние отступы */
    text-align: left; /* Выравнивание текста по левому краю */
  }

  .service-item::before,
.service-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #EAEAEA; /* Цвет линии */
  position: absolute;
  left: 0;
}

.service-item::before {
  top: 0;
}

.service-item::after {
  bottom: 0;
}

.service-item p {
  margin: 10px 0;
  letter-spacing: 0.05em; /* Расстояние между буквами */
}



/* Стили раздела "Онлайн курси" */
.online {
    background-color: #EAEAEA;
}

.online h2 {
    color: #121212;
}

.online p, {
    color: #333;
}

/* Стили формы записи на онлайн обучение */
.contant {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/7073530-1.png');
    background-size: cover;
    background-position: center;
  }
  
  .form-wrapper {
    background-color: rgba(87, 75, 99, 0.9);
    padding: 20px;
    text-align: center;
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-title {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
  }
  
  .form-label {
    display: block;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    opacity: 0.5;
    font-size: 14px;
    margin-bottom: 8px;
    text-align: left;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: none;
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    transition: border-color 0.3s;
  }
  
  .form-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .form-input:focus {
    outline: none;
    border-bottom: 1px solid #480d83;
  }
  
  .form-footer {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    opacity: 0.5;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-button {
    background-color: #ffffff;
    color: #480d83;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 280px;
    height: 50px;
  }
